html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		title hero-section
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="static/css/main.css")
	body
		header.header
			.container
				nav.nav
					.nav-logo Menu
					.nav-login
						a.nav-link(href="#") Корзина
						a.nav-link.shop(href="#") Вход
						span.ru RU
				h2.header-title
					span.block Цены на золото обновили максимум
					| за две недели на фоне снижения курса доллара
				ul.menu
					li
						a.menu-link(href="#") Главная
					li
						a.menu-link(href="#") Новости
					li
						a.menu-link.after-none(href="#") Цены на золото обновили максимум за две недели на фоне снижения курса доллара
			span.scrolldown Листайте вниз
			span.transparent NEWS
			.container
				.main
					.main-img
					.main-content
						.main-details
							.main-share
								a.share(href="#") Поделиться
								ul.social
									li
										a.social-link(href="#")
											img(src="static/img/vk.png", alt="Вконтакте")
									li
										a.social-link(href="#")
											img(src="static/img/facebook.png", alt="Фейсбук")
									li
										a.social-link(href="#")
											img(src="static/img/telegram.png", alt="Телеграмм")
									li
										a.social-link(href="#")
											img(src="static/img/ok.png", alt="Одноклассники")
							.main-info
								span.views Просмотров: 1234
								span.data 10 часов назад (02.10.2018 07:05)
						.main-text
							p Investing.com — В четверг цены на золото обновили максимум за две недели после того, курс доллара перешел к снижению, а фондовые рынки США открылись снижением на фоне резкого роста доходности гособлигаций Соединенных Штатов. Это вызвало повышение спроса на защитные активы.
							p К 16:59 МСК на подразделении Нью-Йоркской товарной биржи COMEX декабрьские фьючерсы на золото повысились на $4,90 или на 0,4% до $1207,7 — максимального значения с 24 сентября.
							p Индекс доллара США, который показывает покупательную силу доллара к торгово-взвешенной корзине шести основных валют, снизился на 0,32% до 95,36, отступив от максимума за полтора месяца 95,78, который был зафиксирован ранее.
							p Снижение курса доллара удешевляет торгуемые в долларе активы для держателей других валют.
							p Спрос на золото повысился после снижения индексов на открытии фондовых бирж США в связи с резким ростом доходности бондов США. При этом позитивные экономические отчеты США указали на то, что ФРС продолжит повышение процентной ставки.
							p Глава ФРС Джером Пауэлл в среду заявил, что центробанк США может продолжить повышение процентной ставки выше «нейтрального» значения при условии дальнейшего роста американской экономики.
							p Заявления главы ФРС Джерома Пауэлла укрепили прогнозы о том, что центробанк США повысит значение процентной ставки в результате своего декабрьского заседания.
							p Прогнозы о продолжении повышения процентной ставки остаются негативным фактором для цен на золото. Повышение процентной ставки и рост доходности бондов США привели к снижению спроса на драгоценные металлы, которые не приносят прибыли.
							p За третий квартал желтый металл подешевел на 4,6% после снижения на 0,9% в сентябре из-за повышения процентной ставки и роста курса доллара США.
							p Декабрьские фьючерсы на серебро повысились на 0,55% до $14,74 за тройскую унцию, а январские фьючерсы на платину снизились на 0,35% и торговались на позиции $833,0.
							p Фьючерсы на медь с поставкой в декабре выросли на 0,25% до $2,838 за фунт.
		section.more_news
			.container
				h3.section-title Другие новости
				.component
					.component-img
						img(src="static/img/news-image-human.png", alt="")
					.component-content
						a.share(href="#") Поделиться
						ul.social
							li
								a.social-link(href="#")
									img(src="static/img/vk.png", alt="Вконтакте")
							li
								a.social-link(href="#")
									img(src="static/img/facebook.png", alt="Фейсбук")
							li
								a.social-link(href="#")
									img(src="static/img/telegram.png", alt="Телеграмм")
							li
								a.social-link(href="#")
									img(src="static/img/ok.png", alt="Одноклассники")
						span.data 10 часов назад (02.10.2018 07:05)
						h2.component-title Американский фондовый рынок продемонстрировал смешанную динамику
						p.component-text Фондовые индексы США завершили торги во вторник с разнонаправленными изменениями, инвесторы следили за развитием конфликта в торговых отношениях США и Китая, а также за ситуацией вокруг итальянского бюджета
						.component-more
							button.btn Подробнее
							span.plus +
				.component.row-reverse
					.component-img.img-reverse
						img(src="static/img/gold-image.png", alt="")
					.component-content.reverse-content
						a.share.reverse(href="#") Поделиться
						ul.social.social-reverse
							li
								a.social-link(href="#")
									img(src="static/img/vk.png", alt="Вконтакте")
							li
								a.social-link(href="#")
									img(src="static/img/facebook.png", alt="Фейсбук")
							li
								a.social-link(href="#")
									img(src="static/img/telegram.png", alt="Телеграмм")
							li
								a.social-link(href="#")
									img(src="static/img/ok.png", alt="Одноклассники")
						span.data.reverse 10 часов назад (02.10.2018 07:05)
						h2.component-title.reverse Фьючерсы на золото подорожали во время азиатских торгов
						p.component-text.reverse IНа COMEX, подразделении Нью-Йоркской товарной биржи, фьючерсы на золото с поставкой в декабре торгуются по цене 1.195,00 долл. за тройскую унцию, на момент написания данного комментария поднявшись на 0,28%.
						.component-more
							button.btn Подробнее
							span.plus +
